<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
   
  <title>Modifying Sections</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
        <span id ="labelForSection" class="navbar-brand mb-0 h1 text-info">My Sections</span>
        <input id="btn_back" type="button" class="btn btn-info pull-left" value="Back" ></input>
    </nav>
    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container"> 

        <br>  
        <div class="card text-white bg-info" >
                <div class="card-body" id="sayhi"></div>
        </div>     
        <br>
          
        <div class="card" id="add_section_input">
                <div class="card-body">
                        <form>
                                <div class="form-group">
                                  <input type="text" class="form-control" id="sectionName" aria-describedby="emailHelp" placeholder="Update Section Name">
                                </div>
                                <input id="btn_modifySection_submit" type="button" class="btn btn-success btn-sm btn-block" value="Update"></input>
                                <input id="btn_addSection" type="button" class="btn btn-danger btn-sm btn-block" value="Delete Section" ></input>
                              </form>      
                </div>
        </div>
        
        <br>
    </div> 
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
    </nav>

    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../js/modifySection.js"></script>

    
    <script>  
      initiatePage();
      
    </script>
  </body>
</html>